<div class="container-fluid">
  <div class="card bg-light grabber">
    <div class="card-header bg-warning">
      webstrijd: {{counter + 1}}
    </div>
    <div class="card-body" >
      <h5 class="center" *ngIf="winner"> winnaar = {{winner}}!!</h5>
      <div [formGroup]="gameForm">
        <select formControlName="team" [disabled]="disabled">
          <option  *ngFor="let team of teams" [ngValue]="team.name">{{team.name}}</option>
        </select>
      </div>
      <div *ngIf="correctPredictions.length > 0">
        <div>correcte voorspelling:</div>
        <div *ngFor="let user of correctPredictions">{{user}}</div>
      </div>
    </div>
  </div>
  <br>
</div>
