<div class="container-fluid">
  <div>
    <h2 class="center">creeër de competitie</h2>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        naam
      </div>
      <div class="card-body">
        <input type="text" [formControl]="name">
      </div>
    </div>
    <br>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        Datums rondes
      </div>
      <div class="card-body">
        <input type="date" (keyup.enter)="addRound(lg)" #lg>
        <ul class="list-group">
          <li *ngFor="let round of roundes" class="list-group-item" >
            {{round}}
            <button class="pull-right btn btn-sm btn-warning float-right" (click)="deleteround(round)">Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        deelnemers
      </div>
      <div class="card-body">
        <input type="text" (keyup.enter)="add(logo)" placeholder="wielrenner" #logo>
        <ul class="list-group">
          <li *ngFor="let athlete of athletes" class="list-group-item" >
            {{athlete}}
            <button class="pull-right btn btn-sm btn-warning float-right" (click)="deleteAthlete(athlete)">Delete
            </button>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-sm btn-warning" [disabled]="competitioninvalid()"(click)="create()">creeër competitie</button>
  </div>
  <br>
  <br>
  <br>
</div>




