<div class="container-fluid">
  <div>
    <h2 class="center">creeër de competitie</h2>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        naam
      </div>
      <div class="card-body">
        <input type="text" [formControl]="name">
      </div>
    </div>
    <br>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        naam
      </div>
      <div class="card-body">
        <form [formGroup]="match" (ngSubmit)="onFormSubmit()">
          team een: <input formControlName="teamOne"  placeholder="team een">
          team twee: <input formControlName="teamTwo"  placeholder="team twee">
          <button class="btn-sm btn-warning" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <br>
    <div class="card bg-light grabber" *ngIf="games.length > 0">
      <div class="card-header bg-warning">
        deelnemers
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let game of games" class="list-group-item" >
            {{game.teamOne}} - {{game.teamTwo}}
            <button class="pull-right btn btn-sm btn-warning float-right" (click)="deleteTeam(game)">Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="card bg-light grabber">
      <div class="card-header bg-warning">
        eind-datum invullen voor gebruikers
      </div>
      <div class="card-body">
        <input type="date" (keyup.enter)="addDate(lg)" #lg>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-sm btn-warning" [disabled]="competitioninvalid()"(click)="create()">creeër competitie</button>
  </div>
  <br>
  <br>
  <br>
</div>
